@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: rgb(187, 187, 187);
  width: 50vw;
  height: 50vh;
  border-style: dashed;
  border-width: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main:hover {
  cursor: pointer;
}

.file-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 25px;
}

input[type="file"] {
  display: none;
}

body > .hidden-element {
  display: none;
}

/* Lista de arquivos */
body > div {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.list-files {
  display: flex;
  margin: 0;
  padding: 0;
}

.list-files li {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.list-files li img {
  flex: 1;
  width: 100vw;
  max-height: calc(100% - 40px);
  object-fit: contain;
}

.base-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 6px 16px;
  height: 40px;
  box-sizing: border-box;
  color: white;
}

.base-menu span {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.base-menu i {
  font-size: 25px;
  transition: transform 0.2s;
}

.base-menu i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

i.disable-action {
  color:gray;
}

i.disable-action:hover {
  transform: none;
  cursor: default;
}
