body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: rgb(187, 187, 187);
  width: 50vw;
  height: 50vh;
  border-style: dashed;
  border-width: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main:hover {
  cursor: pointer;
}

.file-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: Arial;
  font-size: 25px;
}

input[type="file"] {
  display: none;
}

body > .hidden-element {
  display: none;
}

/* Lista de arquivos */
body > div {
  background-color: gray;
  width: 100vw;
  height: 100vh;
}

.list-files {
  display: flex;
  margin: 0;
  padding: 0;
}

.list-files li {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list-files li img {
  flex: 1;
  width: 100vw;
  max-height: 90vh;
  object-fit: contain;
}
